.articles {
    padding: 4rem;
    background-color: #000;
    border-top: 4px solid #79654C;
}

h1{
    text-align: center;
    font-size: 5rem;
    color: #79654C;
}

.articles__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
}

.articles__wrapper{
    position: relative;
    margin: 50px 0 45px;
    padding-bottom: 150px;
}

.articles__items{
    margin-bottom: 24px;
}
.article__item{
    display: inline-block;
    padding-top: 30px;
}


.article__container_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-left: 3px solid #79654C;
    max-height: 512px;
    min-height: 512px;
    gap: 50px;
    margin-bottom: 150px;
}

/*Image box setting*/
.article__item_pic_wrap {
    position: relative;
    flex: 0 0 auto;
    left: 0;
    width: 50%;
    margin-right: 25px;
    margin-left: 25px;
    max-width: 512px;
    min-width: 512px;
}

.article__item_pic_wrap::after{
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #79654C;
    box-sizing: border-box;
}

.article_item_img{
    max-width: 512px;
    max-height: 512px ;
}

.article__item__info{
    flex: 1;
    color: #79654C;
}

.article__item__text{
    margin: 0;
}
h5{
    text-decoration: none;
    font-size: 3rem;
    display: flex;
}

@media screen and (max-width: 1600px) {

    /*Image box setting*/
    .article__item_pic_wrap {
        position: relative;
        flex: 0 0 auto;
        left: 0;
        width: 50%;
        margin-right: 25px;
        margin-left: 25px;
        max-width: 512px;
        min-width: 450px;
    }
}
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1152px) {

}
@media screen and (max-width: 1024px) {
    .article__item_pic_wrap {
        max-width: 350px;
        min-width: 350px;
    }

    .article_item_img{
        max-width: 350px;
        max-height: 512px ;
    }
    .article__container_link{
        max-height: 350px;
    }
}


@media screen and (max-width: 960px) {

    .articles__container{
        margin: 10px;
    }
    .articles__wrapper{
        position: relative;
        margin: 10px 0 25px;
        padding-bottom: 150px;
    }
    .article__item_pic_wrap {
        max-width: 800px;
        min-width: 800px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .article_item_img{
        max-width: 800px;
        max-height: 512px ;
    }
    .article__container_link{
        max-height: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 768px) {
    .articles__container{
        margin: 10px;
    }
    .articles__wrapper{
        position: relative;
        margin: 10px 0 25px;
        padding-bottom: 150px;
        text-align: center;
    }
    .article__item_pic_wrap {
        max-width: 650px;
        min-width: 650px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .article_item_img{
        max-width: 600px;
        max-height: 375px ;
    }
}
@media screen and (max-width: 550px) {
    .articles__container {
        margin: 5px;
    }

    .article__item_pic_wrap {
        max-width: 450px;
        min-width: 375px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .article_item_img {
        max-width: 450px;
        max-height: 375px;
    }

    .article__item__text {
        font-size: 1.5rem;
    }

    .articles__wrapper {
        position: relative;
        margin: 50px 0 45px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 320px) {
    .articles__container{
        margin: 5px;
    }
    .article__item_pic_wrap {
        max-width: 300px;
        min-width: 300px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .article_item_img{
        max-width: 300px;
        max-height: 375px ;
    }
    .article__item__text{
        font-size: 1.5rem;
    }
    .articles__wrapper{
        position: relative;
        margin: 50px 0 45px;
        padding-bottom: 20px;
    }
}

