
.contacts{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    height: 170vh;
}

.contacts-container{
    display: grid;
    grid-template-columns: 550px 1000px;
    grid-template-rows: 800px 800px;
    margin-right: 150px;
    margin-left: 150px;
    gap: 50px;

}

.contacts-logo-img{
    margin: 70px 20px 70px 0;
    max-width: 450px;
    width: auto;
    min-width: 300px;
    max-height: 200px;
 }

.contacts-details{
    max-width: 450px;
    width: auto;
    min-width: 300px;
    padding-top: 75px;
    padding-bottom: 20px;
}

.contacts-detail{
    color: white;
    padding-bottom: 50px;
}

.detail-title{
    padding-top: 40px;
    padding-bottom: 5px;
    color: #79654C ;
}
.contacts-images{
    max-width: 800px;
    width: auto;
    min-width: 500px;
    height: min-content;
    grid-row: 1;
    grid-column: 2;
    left: -100%;
    display: grid;
    padding-top: 175px;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px ;
    grid-template-rows:  50px 50px  50px 50px  50px 50px  50px 50px  50px 50px;
}
.contacts-image-1{
    max-width: 450px;
    width: auto;
    min-width: 400px;
    grid-area: 1 / 1 / 5 / 6;

}

.contacts-image-2{
    max-width: 450px;
    width: auto;
    min-width: 400px;
    grid-area: 7 / 1 / 10 / 10;

}

.contacts-image-3{
    max-width: 450px;
    width: auto;
    min-width: 400px;
    height: 350px;
    grid-area: 0 / 5 / 5 / 10;
}

.contacts-image-4{
    max-width: 500px;
    width: auto;
    min-width: 450px;
    height: 255px;
    grid-area: 7 / 6 / 10 / 10;
}
.contacts-image-5{
    max-width: 350px;
    width: auto;
    min-width: 300px;
    grid-area: 4 / 4 / 7 / 7;
    z-index: 2;
}

.contacts-map-wrap{
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 1000px;
}

.email-form-container{
    max-width: 600px;
    width: auto;
    min-width: 500px;
}
.email-from{
    background: rgba(105,88,66,55%);
    border-radius: 5px;
    padding: 15px;
}
.email-input{
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;

}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid beige;
    color: #242222;
    font-size: 1rem;
    border-radius: 5px;
}

label{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
    transition: 0.25s;
}
button{
    padding: 10px 0;
    width: 100%;
    color: white;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: rgba(105,88,66,55%);
    color: black;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 1600px) {
    .contacts{
        height: 120vh;
    }
    .contacts-container{
        display: grid;
        grid-template-columns: 520px 590px;
        grid-template-rows: 650px 650px;
        margin-right: 15px;
        margin-left: 15px;
        gap: 10px;
    }

    .contacts-logo-img{
        margin: 20px 20px 70px 0;
        max-width: 500px;
        width: auto;
        min-width: 450px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 500px;
        width: auto;
        min-width: 300px;
        padding-top: 75px;
        padding-bottom: 20px;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 25px;
    }

    .detail-title{
        padding-top: 40px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        max-width: 600px;
        width: auto;
        min-width: 550px;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -100%;
        display: grid;
        padding-top: 95px;
        grid-template-columns: 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px;
        grid-template-rows:  40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
    }
    .contacts-image-1{
        max-width: 370px;
        width: auto;
        min-width: 200px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 370px;
        width: auto;
        min-width: 200px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 360px;
        width: auto;
        min-width: 240px;
        height: 240px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 365px;
        width: auto;
        min-width: 360px;
        height: 205px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 270px;
        width: auto;
        min-width: 170px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 1000px;
        width: auto;
        min-width: 900px;
        margin-left: 15px;
    }
    .google-contact-map{
        max-width: 1000px;
        width: auto;
        min-width: 900px;
        height: 440px;
    }
    .email-form-container{
        max-width: 600px;
        width: auto;
        min-width: 500px;
    }
}
@media screen and (max-width: 1280px) {
    .contacts{
        height: 120vh;
    }

    .contacts-container{
        display: grid;
        grid-template-columns: 520px 590px;
        grid-template-rows: 650px 650px;
        margin-right: 15px;
        margin-left: 15px;
        gap: 10px;
    }

    .contacts-logo-img{
        margin: 20px 20px 70px 0;
        max-width: 500px;
        width: auto;
        min-width: 450px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 420px;
        width: auto;
        min-width: 300px;
        padding-top: 75px;
        padding-bottom: 20px;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 25px;
    }

    .detail-title{
        padding-top: 40px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        max-width: 590px;
        width: auto;
        min-width: 500px;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -100%;
        display: grid;
        padding-top: 95px;
        grid-template-columns: 57px 57px 57px 57px 57px 57px 57px 57px 57px 57px;
        grid-template-rows:  22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    }
    .contacts-image-1{
        max-width: 300px;
        width: auto;
        min-width: 200px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 300px;
        width: auto;
        min-width: 200px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 300px;
        width: auto;
        min-width: 240px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 405px;
        width: auto;
        min-width: 300px;
        height: 170px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 205px;
        width: auto;
        min-width: 170px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 750px;
        width: auto;
        min-width: 600px;
    }
    .google-contact-map{
        max-width: 750px;
        width: auto;
        min-width: 650px;
        height: 440px;
    }

    .email-form-container{
        max-width: 550px;
        width: auto;
        min-width: 450px;
    }
}
@media screen and (max-width: 1152px) {
    .contacts{
        height: 120vh;
    }

    .contacts-container{
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 650px 650px;
        margin-right: 15px;
        margin-left: 15px;
        gap: 10px;
    }

    .contacts-logo-img{
        margin: 20px 20px 70px 0;
        max-width: 500px;
        width: auto;
        min-width: 450px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 420px;
        width: auto;
        min-width: 300px;
        padding-top: 75px;
        padding-bottom: 20px;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 25px;
    }

    .detail-title{
        padding-top: 40px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        width: min-content;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -100%;
        display: grid;
        padding-top: 95px;
        grid-template-columns: 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px ;
        grid-template-rows:  22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    }
    .contacts-image-1{
        max-width: 245px;
        width: auto;
        min-width: 200px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 245px;
        width: auto;
        min-width: 200px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 240px;
        width: auto;
        min-width: 240px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 345px;
        width: auto;
        min-width: 240px;
        height: 138px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 205px;
        width: auto;
        min-width: 170px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 500px;
        width: auto;
        min-width: 455px;
    }
    .google-contact-map{
        max-width: 590px;
        width: auto;
        min-width: 580px;
        height: 440px;
    }

    .email-form-container{
        max-width: 500px;
        width: auto;
        min-width: 400px;
    }
}
@media screen and (max-width: 1024px) {
    .contacts{
        height: 120vh;
    }

    .contacts-container{
        display: grid;
        grid-template-columns: 430px 430px;
        grid-template-rows: 650px 650px;
        margin-right: 15px;
        margin-left: 15px;
        gap: 10px;

    }

    .contacts-logo-img{
        margin: 20px 20px 70px 0;
        max-width: 420px;
        width: auto;
        min-width: 300px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 420px;
        width: auto;
        min-width: 300px;
        padding-top: 75px;
        padding-bottom: 20px;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 25px;
    }

    .detail-title{
        padding-top: 40px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        width: min-content;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -100%;
        display: grid;
        padding-top: 95px;
        grid-template-columns: 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px ;
        grid-template-rows:  22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    }
    .contacts-image-1{
        max-width: 245px;
        width: auto;
        min-width: 200px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 245px;
        width: auto;
        min-width: 200px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 240px;
        width: auto;
        min-width: 240px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 345px;
        width: auto;
        min-width: 240px;
        height: 138px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 205px;
        width: auto;
        min-width: 170px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 500px;
        width: auto;
        min-width: 500px;
    }
    .google-contact-map{
        max-width: 535px;
        width: auto;
        min-width: 530px;
        height: 440px;
    }

    .email-form-container{
        max-width: 500px;
        width: auto;
        min-width: 400px;
    }
}
@media screen and (max-width: 960px) {
    .contacts{
        height: 220vh;
    }
    .contacts-container{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
        max-width: 950px;
        width: auto;
        min-width: 710px;
    }

    .contacts-logo-img{
        margin: 20px 20px 80px;
        max-width: 940px;
        width: auto;
        min-width: 700px;
        max-height: 400px;
    }

    .contacts-details{
        max-width: 950px;
        width: auto ;
        min-width: 750px;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 10px;
    }

    .detail-title{
        padding-top: 10px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        width: min-content;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: 94px 94px 94px 94px 94px 94px 94px 94px 94px 94px;
        grid-template-rows:  47px 47px  47px 47px  47px 47px  47px 47px  47px 47px;
    }
    .contacts-image-1{
        max-width: 470px;
        width: auto;
        min-width: 400px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 470px;
        width: auto;
        min-width: 400px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 455px;
        width: auto;
        min-width: 450px;
        height: 285px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 470px;
        width: auto;
        min-width: 455px;
        height: 264px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 360px;
        width: auto;
        min-width: 360px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 950px;
        width: auto;
        min-width: 700px;
        padding-top: 100px ;

    }
    .google-contact-map{
        max-width: 950px;
        width: auto;
        min-width: 900px;
        height: 400px;
    }
    .email-form-container{
        padding-top: 100px;
        max-width: 940px;
        width: auto;
        min-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .contacts{
        height: 180vh;
    }
    .contacts-container{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
        max-width: 730px;
        width: auto;
        min-width: 250px;
    }

    .contacts-logo-img{
        margin: 10px 10px 80px 10px;
        max-width: 680px;
        width: auto;
        min-width: 270px;
        max-height: 400px;
    }

    .contacts-details{
        max-width: 750px;
        width: auto ;
        min-width: 300px;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 10px;
    }

    .detail-title{
        padding-top: 10px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{
        max-width: 750px;
        width: auto;
        min-width: 320px;
        height: min-content;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: repeat(10,74px);
        grid-template-rows:  37px 37px  37px 37px  37px 37px  37px 37px  37px 37px;
    }
    .contacts-image-1{
        max-width: 370px;
        width: auto;
        min-width: 125px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        max-width: 370px;
        width: auto;
        min-width: 125px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        max-width: 370px;
        width: auto;
        min-width: 125px;
        height: 225px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        max-width: 370px;
        width: auto;
        min-width: 370px;
        height: 210px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        max-width: 280px;
        width: auto;
        min-width: 105px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 740px;
        width: auto;
        min-width: 700px;
        max-height: 400px;
        height: auto;
        min-height: 300px;
        padding-top: 100px ;

    }
    .google-contact-map{
        max-width: 730px;
        width: auto;
        min-width: 650px;
        max-height: 400px;
        height: auto;
        min-height: 400px;
    }
}
@media screen and (max-width: 550px) {
    .contacts-container{
        max-width: 540px;
        width: auto;
        min-width: 540px;
    }

    .contacts-logo-img{
        max-width: 490px;
        width: auto;
        min-width: 490px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 520px;
        width: auto;
        min-width: 490px;
        padding-top: 50px;
        padding-bottom: 0;
    }
    .contacts-images{
        max-width: 490px;
        width: auto;
        min-width: 490px;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: repeat(10,49px);
        grid-template-rows:  repeat(10,25px);
    }
    .contacts-image-1{
        width: 255px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        width: 255px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        width: 265px;
        height: 150px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        width: 265px;
        min-width: 265px;
        height: 140px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        width: 175px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 300px;
        width: auto;
        min-width: 280px;
        padding-top: 50px;
    }
    .google-contact-map{
        max-width: 500px;
        width: auto;
        min-width: 490px;
        height: 300px;
    }

    .email-form-container{
        max-width: 520px;
        width: auto;
        min-width: 295px;
    }
}
@media screen and (max-width: 425px) {
    .contacts-container{
        max-width: 410px;
        width: auto;
        min-width: 410px;
    }

    .contacts-logo-img{
        max-width: 380px;
        width: auto;
        min-width: 380px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 400px;
        width: auto;
        min-width: 400px;
        padding-top: 50px;
        padding-bottom: 0;
    }
    .contacts-images{
        max-width: 400px;
        width: auto;
        min-width: 400px;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: repeat(10,40px);
        grid-template-rows:  repeat(10,20px);
    }
    .contacts-image-1{
        width: 205px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        width: 205px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        width: 200px;
        height: 150px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        width: 200px;
        min-width: 200px;
        height: 140px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        width: 145px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 300px;
        width: auto;
        min-width: 280px;
        padding-top: 50px;
    }
    .google-contact-map{
        max-width: 365px;
        width: auto;
        min-width: 365px;
        height: 170px;
    }

    .email-form-container{
        max-width: 395px;
        width: auto;
        min-width: 295px;
    }
}
@media screen and (max-width: 375px) {
    .contacts{
        height: 260vh;
    }
    .contacts-container{
        max-width: 365px;
        width: auto;
        min-width: 340px;
    }
    .contacts-logo-img{
        max-width: 325px;
        width: auto;
        min-width: 325px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 345px;
        width: auto;
        min-width: 345px;
        padding-top: 50px;
        padding-bottom: 0;
    }
    .contacts-images{
        max-width: 345px;
        width: auto;
        min-width: 345px;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: repeat(10,35px);
        grid-template-rows:  repeat(10,18px);
    }
    .contacts-image-1{
        width: 175px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        width: 175px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        width: 175px;
        height: 125px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        width: 175px;
        min-width: 175px;
        height: 100px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        width: 125px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 300px;
        width: auto;
        min-width: 280px;
        padding-top: 50px;
    }
    .google-contact-map{
        max-width: 315px;
        width: auto;
        min-width: 315px;
        max-height: 275px;
        height: 270px;
        min-height: 275px;
    }

    .email-form-container{
        max-width: 395px;
        width: auto;
        min-width: 295px;
        padding-top: 50px;
    }
}
@media screen and (max-width: 320px) {
    .contacts{
        height: 100vh;
    }

    .contacts-container{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
        max-width: 310px;
        width: auto;
        min-width: 200px;
    }

    .contacts-logo-img{
        margin: 20px 20px 80px;
        max-width: 300px;
        width: auto;
        min-width: 200px;
        max-height: 200px;
    }

    .contacts-details{
        max-width: 310px;
        width: auto;
        min-width: 200px;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .contacts-detail{
        color: white;
        padding-bottom: 10px;
    }

    .detail-title{
        padding-top: 10px;
        padding-bottom: 5px;
        color: #79654C ;
    }
    .contacts-images{

        max-width: 310px;
        width: auto;
        min-width: 300px;
        grid-row: 1;
        grid-column: 2;
        left: -90%;
        display: grid;
        padding-top: 5px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
        grid-template-rows:  15px 15px  15px 15px  15px 15px  15px 15px  15px 15px;
    }
    .contacts-image-1{
        width: 150px;
        grid-area: 1 / 1 / 5 / 6;

    }

    .contacts-image-2{
        width: 150px;
        grid-area: 7 / 1 / 10 / 10;

    }

    .contacts-image-3{
        width: 145px;
        height: 90px;
        grid-area: 0 / 5 / 5 / 10;
    }

    .contacts-image-4{
        width: 145px;
        min-width: 145px;
        height: 85px;
        grid-area: 7 / 6 / 10 / 10;
    }
    .contacts-image-5{
        width: 100px;
        grid-area: 4 / 4 / 7 / 7;
        z-index: 2;
    }

    .contacts-map-wrap{
        justify-content: center;
        justify-items: center;
        text-align: center;
        max-width: 300px;
        width: auto;
        min-width: 280px;
        padding-top: 50px;
    }
    .google-contact-map{
        max-width: 290px;
        width: auto;
        min-width: 270px;
        height: 300px;
    }

    .email-form-container{
        max-width: 300px;
        width: auto;
        min-width: 295px;
    }
}