.footer{
    background-color: black;
}
.footer-container{
    min-height: 100vh;
    background-image: url(/public/footer.png);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: cover;
    width: 100%;
    height: 90vh;
    align-content: center;
    justify-content: center;
}

h2{
    color: white;
}

.footer-items{
    display: inline-block;
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 150px;
    width: 80vw;
}
.footer-items-category{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.footer-school-links{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-flow: initial;
    gap: 50px;

}

.footer-img-item{
    max-width: 250px;
    height: 50%;
    justify-items: center;
    text-align: center;
}

.school-link-img{
    max-width: 100%;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

.footer-social-links{
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: underline white;
    margin-top: 50px;
    display: flex;
    text-align: center;
}

.footer-social-link{
    color: #000000;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.social-link-name{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}