.story{
    background-color: black;
}
.story-container{
    padding: 75px 150px 150px;
}
.story-info{
    display: flex;
    margin: 50px;
    gap: 50px;
}
.story-info-left{
    margin: 10px;
}

.story-info-left-img{
    max-width: 600px;
    width: auto;
    min-width: 500px;
}
.story-info-right{
    margin: 10px;
}
.story-info-r-title{
    color: #79654C;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.story-info-r-details{
    display: flex;
    gap: 20px;
}
.story-info-r-details h5{
    color: #79654C;
    font-weight: bold;
    font-size: 1.25rem;
}
.story-info-r-details p{
    color: #ffff;
    font-size: 1.25rem;
}

.story-gallery-container{
    max-width: 1500px;
    position: relative;
    margin: 50px;
}
.gallery-item{
    display: none;
}
.gallery-item-img{
    width: 1500px;
    height: 650px;
}
.gallery-item-name{
    color: white;
    font-size: 1.5rem;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.gallery-item-name {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.gallery-dots{
    text-align: center;
}
.gallery-dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.story-steam-wrap{
    margin-left: 300px;
    margin-top: 75px;

    display: flex;
    border-radius: 5px;
    background: rgba(105,88,66,55%);
    max-height: 300px;
    height: auto;
    min-height: 150px;
    max-width: 1000px;
    min-width: 350px;
    gap: 30px;
}
.story-steam-link{

}
.story-steam-img_wrap{
    margin: 5px;
}
.story-steam-img{
    max-height: 290px;
    min-height: 150px;
    height: auto;
    border-radius: 5px;
}

.story-steam-info{
    margin: 5px;
    border-radius: 5px;
    background: rgba(105,88,66,35%);
}
.story-steam-title{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    margin-top: 35px;
}
.story-steam-text{
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 10px;
    color: black;
}

@media screen and (max-width: 1600px) {
    .story-info{
        display: flex;
        margin: 25px;
        gap: 25px;
    }
    .story-info-left-img{
        max-width: 550px;
        width: auto;
        min-width: 400px;
    }

    .story-container{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 75px;
    }
    .story-info{
        display: flex;
        margin: 50px;
        gap: 50px;
    }

    .story-info-left-img{
        width: 600px;
    }

    .story-info-r-title{
        color: #79654C;
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .story-info-r-details{
        display: flex;
        gap: 20px;
    }
    .story-info-r-details h5{
        color: #79654C;
        font-weight: bold;
        font-size: 1.25rem;
    }
    .story-info-r-details p{
        color: #ffff;
        font-size: 1.25rem;
    }



    .story-gallery-container{
        max-width: 1500px;
        position: relative;
        margin: 50px;
    }
    .gallery-item{
        display: none;
    }
    .gallery-item-img{
        width: 1300px;
        height: 650px;
    }


    .story-steam-wrap{
        margin-left: 200px;
        display: flex;
        border-radius: 5px;
        background: rgba(105,88,66,55%);
        max-height: 300px;
        height: auto;
        min-height: 150px;
        max-width: 1000px;
        min-width: 350px;
        gap: 30px;
    }

    .story-steam-img{
        max-height: 290px;
        min-height: 150px;
        height: auto;
        border-radius: 5px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        color: white;
        margin-top: 35px;
    }
    .story-steam-text{
        padding-top: 10px;
        font-weight: bold;
        font-size: 1.25rem;
        margin: 10px;
        color: black;
    }
}
@media screen and (max-width: 1280px) {

    .story-info-left-img{
        max-width: 450px;
        width: auto;
        min-width: 400px;
    }




    .story-gallery-container{
        max-width: 1000px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 975px;
        height: 650px;
    }







    .story-steam-wrap{
        margin-left: 60px;
        display: flex;
        border-radius: 5px;
        background: rgba(105,88,66,55%);
        max-height: 300px;
        height: auto;
        min-height: 150px;
        max-width: 800px;
        min-width: 350px;
        gap: 30px;
    }

    .story-steam-img{
        max-height: 290px;
        min-height: 150px;
        height: auto;
        border-radius: 5px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        color: white;
        margin-top: 35px;
    }
    .story-steam-text{
        padding-top: 10px;
        font-weight: normal;
        font-size: 1.25rem;
        margin: 10px;
        color: black;
    }

}
@media screen and (max-width: 1152px) {
    .story-info{
        margin: 25px;
        gap: 25px;
    }
    .story-info-left-img{
        max-width: 380px;
        width: auto;
        min-width: 350px;
    }


    .story-gallery-container{
        max-width: 1200px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 850px;
        height: 450px;
    }


    .story-steam-wrap{
        margin-left: 40px;
        display: flex;
        border-radius: 5px;
        background: rgba(105,88,66,55%);
        max-height: 300px;
        height: auto;
        min-height: 150px;
        max-width: 900px;
        min-width: 350px;
        gap: 30px;
    }

    .story-steam-img{
        max-height: 290px;
        min-height: 150px;
        height: auto;
        border-radius: 5px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        color: white;
        margin-top: 35px;
    }
    .story-steam-text{
        padding-top: 10px;
        font-weight: normal;
        font-size: 1.25rem;
        margin: 10px;
        color: black;
    }
}
@media screen and (max-width: 1024px) {
    .story-info{
        margin: 20px;
        gap: 20px;
    }
    .story-info-left-img{
        max-width: 300px;
        width: auto;
        min-width: 280px;
    }

    .story-gallery-container{
        max-width: 800px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 724px;
        height: 400px;
    }





    .story-steam-img{
        max-height: 290px;
        min-height: 290px;
        height: auto;
        max-width: 400px;
        min-width: 350px;
        border-radius: 5px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 1.75rem;
        color: white;
        margin-top: 5px;
    }
    .story-steam-text{
        padding-top: 10px;
        font-weight: normal;
        font-size: 1.15rem;
        margin: 10px;
        color: black;
    }
}
@media screen and (max-width: 960px) {
    .story-info{
        margin: 20px;
        gap: 20px;
        flex-direction: column;
    }
    .story-info-left-img{
        max-width: 700px;
        min-width: 700px;


        height: 350px;
    }

    .story-gallery-container{
        max-width: 900px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 660px;
        height: 350px;
    }

    .story-steam-img{
        max-height: 290px;
        min-height: 290px;
        height: auto;
        max-width: 370px;
        min-width: 350px;
        border-radius: 5px;
    }

    .story-steam-title{
        font-size: 1.50rem;

    }
    .story-steam-text{
        font-size: 1.15rem;

    }
}
@media screen and (max-width: 768px) {
    .story-info{
        margin: 20px;
        gap: 20px;
        flex-direction: column;
    }
    .story-info-left-img{
        max-width: 520px;
        min-width: 520px;

        height: 275px;
    }

    .story-gallery-container{
        max-width: 650px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 468px;
        height: 300px;
    }


    .story-steam-wrap{
        margin-left: 30px;
        display: flex;
        border-radius: 5px;
        background: rgba(105,88,66,55%);
        max-height: 600px;
        height: auto;
        min-height: 150px;
        max-width: 520px;
        min-width: 350px;
        gap: 10px;
        flex-direction: column;
    }

    .story-steam-img{
        max-height: 290px;
        min-height: 250px;
        height: auto;
        max-width: 520px;
        min-width: 520px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 1.75rem;
        color: white;
        margin-top: 5px;
    }
    .story-steam-text{
        padding-top: 10px;
        font-weight: normal;
        font-size: 1.25rem;
        margin: 10px;
        color: black;
    }
}
@media screen and (max-width: 320px) {
    .story-container{
        padding: 55px 10px 150px;
    }

    .story-info{
        margin: 2px;
        gap: 5px;
        flex-direction: column;
    }
    .story-info-left-img{
        max-width: 280px;
        min-width: 280px;

        height: 175px;
    }

    .story-gallery-container{
        max-width: 1000px;
        position: relative;
        margin: 50px;
    }

    .gallery-item-img{
        width: 200px;
        height: 125px;
    }


    .story-steam-wrap{
        margin-left: 2px;
        display: flex;
        border-radius: 5px;
        background: rgba(105,88,66,55%);
        max-height: 700px;
        height: auto;
        min-height: 150px;
        max-width: 300px;
        min-width: 275px;
        gap: 10px;
        flex-direction: column;
    }

    .story-steam-img{
        max-width: 285px;
        min-width: 285px;
        max-height: 175px;
        min-height: 160px;
    }

    .story-steam-title{
        text-align: center;
        font-weight: bolder;
        font-size: 1.75rem;
        color: white;
        margin-top: 5px;
    }
    .story-steam-text{
        padding-top: 2px;
        font-weight: normal;
        font-size: 1.25rem;
        margin: 10px;
        color: black;
    }
}