:root{
    /*  Colours */
    --color-text: #fff;
    --color-primary: #79654C;
    --color-seconday: #ffff;
    --color-dark: #046;
    --color-bg: #222f;

    /* Fonts */
    --font-primary: "Arial";
}